* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-title {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.game-container {
    background-color: #5995da;
    padding: 20px 0;
    color: #fff;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 15px;
}

#title {
    
}